# Archivos de entorno
.env
.env.local
.env.development
.env.production
.env.test

# Dependencias
node_modules/
*/node_modules/

# Logs y caché
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.cache/
*.log

# Editor/IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build y distribución
/dist/
/build/
/out/
.next/
.serverless/
.turbo/

# Base de datos
*.db
*.sqlite
*.sql
/db/migrations/

# TypeScript
*.tsbuildinfo

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de configuración local
.eslintcache
.prettierrc.local